executor {
    name = 'local'
    cpus = 70
}

% process {
%     withLabel:gpu {
%         clusterOptions = 'request_gpus = 1'
%     }
% }

% profiles {
%     condor {
%         process.conda = "${projectDir}/environment.yml"
%         process.executor = 'condor'
%     }
%     local {
%         process.conda = "${projectDir}/environment.yml"
%         process.executor = 'local'
%     }
% }